managed_by=%%PRODUCT_NAME%%-repo
eligible=yes
supported_direct=yes
channel=release
version=2.9.0
template=%%PRODUCT_NAME%%-repo
signature_policy=fingerprints
